@font-face {
    font-family: "SF-ProDisplay-bold";
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: "SF-ProDisplay-light";
    src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF-ProDisplay-ultra-light";
    src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "SF-ProDisplay-thin";
    src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
}

body {
    letter-spacing: 1.3px;
    font-family: "SF-ProDisplay-ultra-light";
    color: white;
    background-color: black;
}

#wrapper {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "SF-ProDisplay-bold";
}

#page-title > h1 {
    font-size: 35px;
}

#page-title > a {
    text-decoration: underline;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .column-block {
        margin: 2%;
        flex-basis: 100%;
    }
}